    body {
        margin-left: 0;
    }
    textarea {
        font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
        font-size: 9px;
    }
    .map_tab_title {
        font-size: 18px;
    }
    .extra_tab_title {
        color: #ccc;
    }
    .rules_tab_title {
        color: #ccc;
    }
    .game_table {
        /*
            NOTE: This is the default table, this can be overridden by every games own CSS.

            Six nice wooden pattern to use as table, from Light to dark with higher number
            001 - Light
             ....
            001 - Almost black
         */
         margin-top: 10px;
         background-image: url('../img/wood/wood-004.png');
         padding: 300px;
         border-radius: 80px;
         border-style: ridge;
    }

    .game_board {
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: inherit;
        border: 0;
        -webkit-box-shadow: 0px 0px 21px 6px rgba(0,0,0,0.68);
        -moz-box-shadow: 0px 0px 21px 6px rgba(0,0,0,0.68);
        box-shadow: 0px 0px 21px 6px rgba(0,0,0,0.68);
        border-radius: 10px;
    }
    .extra_tab {
        -webkit-box-shadow: 0px 0px 21px 6px rgba(0,0,0,0.68);
        -moz-box-shadow: 0px 0px 21px 6px rgba(0,0,0,0.68);
        box-shadow: 0px 0px 21px 6px rgba(0,0,0,0.68);
        border-radius: 10px;
    }
    .dimmed_background {
        filter: brightness(50%);
    }
    .highlighted_component {
        -webkit-box-shadow: 0px 0px 46px 6px rgba(252,3,3,1);
        -moz-box-shadow: 0px 0px 46px 6px rgba(252,3,3,1);
        box-shadow: 0px 0px 46px 6px rgba(252,3,3,1);
    }

    .rules_tab {
        background-color: #252b30;
        padding: 50px;
    }
    .event_signal {
        -webkit-box-shadow: 0px 0px 77px 18px rgba(88,179,4,1);
        -moz-box-shadow: 0px 0px 77px 18px rgba(88,179,4,1);
        box-shadow: 0px 0px 77px 18px rgba(88,179,4,1);
    }
    .wasa_panel {
        z-index: 1000;
    }
    .resizable {
    }
    #main_tabs {
        position: absolute;
    }
    #player_panel {
        position: fixed;
        z-index: 2;
        width: 500px;
        right: 50px;
        top: 250px;
    }
    #toolbox {
        position: fixed;
        z-index: 2;
        width: 500px;
        right: 50px;
        top: 100px;
    }
    #cards_panel {
        position: fixed;
        width: 700px;
        left: 50px;
        top: 250px;
    }
    .game_card {
        z-index: 100;
        position: absolute;
        border-radius: 20px;
    }
    #deck_holder {
        height: 700px;
    }
    #pp_tab_pane {
        height: 500px;
    }
    #events_textarea {
        height: 300px;
        margin-bottom: 5px;
    }
    .resizable_scroller {
        width: 480px;
        height: 400px;
        background-color: #2c3338;
    }
    .resizable_card_scroller {
        width: 680px;
        height: 400px;
        background-color: #2c3338;
    }
    #main_tray {
        background-color: #2c3338;
    }
    #filter_input {
        margin-bottom: 5px;
    }
    .component_tray {
        /* Droppablem handled by JS */
    }
    .component_group {
        width: 100%;
    }
    .ui-widget-header p, .ui-widget-content p {
        margin: 0;
    }
    /*
        Default stuff, can be overridden by games (in style.css)
     */
    .component {
        float: left;
        cursor: pointer;
        border-radius: 6px;
    }
    .new_component {
        float: left;
        cursor: pointer;
        margin: 3px;
        z-index: 100;
    }
    .manifest_card {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .selected_component {
        -webkit-box-shadow: 0px 0px 46px 6px rgba(5,74,250,1);
        -moz-box-shadow: 0px 0px 46px 6px rgba(5,74,250,1);
        box-shadow: 0px 0px 46px 6px rgba(5,74,250,1);
        /*border: rgba(0,0,0,1) dashed 2px; */
    }
    .marked_component {
        border: solid 4px;
    }
    .lineup_component {
        margin: 2px;
    }
    .lineup_box {
        max-width: 300px;
        display: none;
    }
    .lineup_box_active {
        border: 0;
        border-radius: 8px;
        background-color: #333;
        z-index: 1000000;
        padding: 15px;
        padding-left: 20px;
    }
    .hidden_component {
        opacity: 0.6;
        /* display: none; */
    }
    .very_hidden_component {
        opacity: 0.2;
        /* display: none; */
    }
    .cbox_holder {
        margin-bottom: 10px;
    }
    .cbox {
        float: left;
        border: #fff solid 4px;
        border-radius: 4px;
        width: 25px;
        height: 25px;
        margin: 6px;
    }
    .cbox:hover {
        background-color: lightgrey;
    }
    .cb_unmark {
        border-color: dimgrey;
    }
    .cb_red {
        border-color: red;
    }
    .cb_green {
        border-color: lawngreen;
    }
    .cb_blue {
        border-color: blue;
    }
    .cb_yellow {
        border-color: yellow;
    }
    .cb_pink {
        border-color: deeppink;
    }
    .cb_cyan {
        border-color: cyan;
    }
