    body {
        margin-left: 0;
    }
    textarea {
        font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
        font-size: 9px;
    }
    .map_tab_title {
        font-size: 18px;
    }
    .extra_tab_title {
        color: #ccc;
    }
    .rules_tab_title {
        color: #ccc;
    }
    .game_board {
        position: relative;
        background-size:100%;
        background-repeat: no-repeat;
        background-color: inherit;
        border: 0;
    }
    .event_signal {
        -webkit-box-shadow: 0px 0px 90px 0px rgba(0,153,255,1);
        -moz-box-shadow: 0px 0px 90px 0px rgba(0,153,255,1);
        box-shadow: 0px 0px 90px 0px rgba(0,153,255,1);
    }
    .wasa_panel {
    }
    .resizable {
    }
    #main_tabs {
        position: absolute;
    }
    #player_panel {
        position: fixed;
        z-index: 2;
        width: 500px;
        right: 50px;
        top: 300px;
    }
    #pp_tab_pane {
        height: 500px;
    }
    #events_textarea {
        height: 300px;
        margin-bottom: 5px;
    }
    .resizable_scroller {
        width: 450px;
        height: 400px;
    }
    #main_tray {
        background-color: #2c3338;
    }
    #filter_input {
        margin-bottom: 5px;
    }
    .component_tray {
        /* Droppable */
    }
    .component_group {
        width: 100%;
    }
    .ui-widget-header p, .ui-widget-content p {
        margin: 0;
    }
    /*
        Add game specific game components must carry a class named component
     */
    .component {
        float: left;
        cursor: pointer;
        border: 1px solid black;

    }
    .new_component {
        float: left;
        cursor: pointer;
        border: 1px solid black;

        margin: 3px;
        z-index: 1000000;
    }
    .selected_component {
        border: #fff dashed 2px;
    }
    .marked_component {
        border: solid 4px;
    }
    .lineup_component {
        margin: 2px;
    }
    .lineup_box {
        max-width: 300px;
        display: none;
    }
    .lineup_box_active {
        border: 0;
        border-radius: 8px;
        background-color: #333;
        z-index: 1000000;
        padding: 15px;
        padding-left: 20px;
        opacity: 0.8;
    }
    .hidden_component {
        opacity: 0.6;
        /* display: none; */
    }
    .cbox_holder {
        margin-bottom: 10px;
    }
    .cbox {
        float: left;
        border: #fff solid 4px;
        border-radius: 4px;
        width: 25px;
        height: 25px;
        margin: 6px;
    }
    .cbox:hover {
        background-color: lightgrey;
    }
    .cb_unmark {
        border-color: dimgrey;
    }
    .cb_red {
        border-color: red;
    }
    .cb_green {
        border-color: lawngreen;
    }
    .cb_blue {
        border-color: blue;
    }
    .cb_yellow {
        border-color: yellow;
    }
    .cb_pink {
        border-color: deeppink;
    }
    .cb_cyan {
        border-color: cyan;
    }
