<div class="panel panel-default wasa_panel global_stackable" id="cards_panel">

    <div class="panel-heading">
        <h5>Cards</h5>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>

    </div>

    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#card_deck_tab" aria-controls="card_deck_tab" role="tab" data-toggle="tab">Deck</a></li>
            <li role="presentation"><a href="#card_manifest_tab" aria-controls="card_manifest_tab" role="tab" data-toggle="tab">Manifest</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="card_deck_tab">
                <div id="deck_holder">
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="card_manifest_tab">
                <h3>All cards available</h3>
                <hr>
                <div id="manifest_holder" class="component_tray resizable_scroller resizable_card_scroller">
                    <!-- Cards are added here from wasa_main.js -->
                </div>
            </div>
        </div>
    </div>
</div>
