
<div class="modal show" id="email_modal" tabindex="-1" role="dialog" aria-labelledby="email_modal_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="email_modal_label">Enter Email address</h4>
            </div>
            <form action="">
                <div class="modal-body">
                    <p>
                        Please Enter your email-address. The part before the @ will be your username in your games.
                        <br><br>
                        Your email may be verfied at a later point, games created by unverified emails will be deleted.
                    </p>
                    <div class="form-group">
                        <input type="hidden" name="game_id" value="{{ game_id }}">
                        <input type="hidden" name="game_session_id" value="{{ game_session_id }}">

                        <label for="email">Email address</label>
                        <input type="email" class="form-control" name="email" placeholder="Email" id="email">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
