
#main_title {
}

.theme_color {
    color: #c3a070;
}

#tab_side {
    /* Most of the times, keep it to relative (large maps). Some small maps could use fixed though */
    position: relative;
}
.game_table {
     /* Override the default game table */
     padding: 150px;
}
#main_game_board {
    background-image: url('components/vassal/wofg-s.jpg');
    width: 2410px;
    height: 3695px;
}

.wog_counter_small {
    /* Custom for this game */
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    border-color: rgba(0,0,0,1);

    background-size: contain;

}

