
#main_title {
}

.theme_color {
    color: #f12a36;
}

#tab_side {
    /* Most of the times, keep it to relative (large maps). Some small maps could use fixed though */
    position: relative;
}
#game_board {
    background-image: url('components/MapFull.jpg');
    width: 5460px;
    height: 6536px;
}
#air_sup_board {
    background-image: url('components/vassal/PAC2-Air Superiority.png');
    width: 2150px;
    height: 2356px;
}
#game_info_board {
   background-image: url('components/vassal/PAC3-Game Info.png');
    width: 1875px;
    height: 1500px;
}
.nw_korea_small {
    /* Custom for this game */
    background-repeat: no-repeat;
    width: 86px;
    height: 86px;

    background-size: 100%;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 4px 4px 10px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px 4px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 10px 4px rgba(0,0,0,0.75);
}

