
#main_title {
}

.theme_color {
    color: #1cb15d;
}

#tab_side {
    /* Most of the times, keep it to relative (large maps). Some small maps could use fixed though */
    position: relative;
}

/* The color of the table area around the game board */
.game_table {
    /*
        Six nice wooden pattern to use as table, from Light to dark with higher number
        001 - Light
         ....
        001 - Almost black


    background-image: url('../../../img/wood/wood-001.png');
    padding: 250px;
    border-radius: 100px;
     */
}

#game_board {
    background-image: url('components/vassal/Board_MainAlternate.jpg');
    width: 4140px;
    height: 2700px;
}

.daob_marker {
    /* Custom for this game */
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;

    background-size: contain;
}

.daob_card {
    /* Custom for this game */
    background-repeat: no-repeat;
    width: 226px;
    height: 352px;

    background-size: contain;
    border: 0;
}

