#main_title {
}

.theme_color {
    color: #BC070B;
}

#main_game_board {
    background-image: url('components/vassal/Red_Winter_Map-150.jpg');
    height: 5100px;
    width: 3300px;

}
#turn_track {
    background-image: url('components/vassal/turn_track.png');
    width: 1817px;
    height: 1402px;
    position: relative;
    background-size:100%;
    background-repeat: no-repeat;
    background-color: inherit;
    border: inherit 4px solid;
}

.RW_component {
    background-repeat: no-repeat;
    width: 78px;
    height: 78px;

    background-size: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #111;

}

/*
.RW_component_50perc {
    width: 39px;
    height: 39px;
    background-size: 100%;
}
*/
